# **My Jupyter Notebook on IBM Watson Studio**

---

Data Science Tools ans Ecosystem in this section data science tools and ecosystem are summrized





Model Monitring ans Assesment There is some popular languages for data science Python R java SQL Sqala Julia c++ JavaScript Go Ruby VB Popular Languages Pandas

*   Data Management
*   Data Intigration and transformation
*   Data Visiulization
*   Model Building
*   Model Deployment



---
The List below contains some of the programming languages used in Data Science

*  Python

* R

* SQL

* Scala

* Java

* C++

* Julia

* JavaScript

* PHP

* Go

* Ruby

* Visual Basic

The List below contains some of the libbraries used in Data Science 

* Pandas
* Numpy
* Matplotlib
* Seaborn
* Scikit-learn
* Keras
* TensorFlow
* PyTorch
* Apache Spark
* Vegas
* Big DL
* Ggplot2

|Data Science Tools |
|---|
|  Anaconda            |
|  Jupyter Noteooks    |
|  R studio            |
|  Spyder              |
|  Zeppelin            |

In [ ]:
a=10
b=2
print(a+b)
print(a*b)

12
20

In [14]:
# input for user
b = int(input("Enter a nuber for conversion of min to hour : "))

# Arithmetic expressions
hours=b//60
min=b%60

# Format of output and print statement
time="{}:{}".format(hours,min)
print(time)

Enter a nuber for conversion of min to hour : 210
3:30

Ojectives : 

*   Add comment to cells
*   Create markdown cells
*   Add ordered and unordered lists to markdown cells
*   Format content of markdown celss with headin styles

# Author(s)

Harsh Mewada