# **My Jupyter Notebook on IBM Watson Studio**

---

Data Science Tools ans Ecosystem in this section data science tools and ecosystem are summrized





Model Monitring ans Assesment There is some popular languages for data science Python R java SQL Sqala Julia c++ JavaScript Go Ruby VB Popular Languages Pandas

*   Data Management
*   Data Intigration and transformation
*   Data Visiulization
*   Model Building
*   Model Deployment



---
The List below contains some of the programming languages used in Data Science

*   Python

*   SQL

*   R

*   Julia

*   Java

*   JavaScript

*   Scala

*   Go

The List below contains some of the libbraries used in Data Science 


*   TensorFlow
*   Panda
*   Numpy
*   Sci-py
*   Keras
*   Scikit-learn
*   Pytorch
*   Scrapy

Data Science Tools are


*   Anaconda
*   Jupyter Noteooks
*   R studio
*   Spyder
*   Zeppelin

In [ ]:
a=10
b=2
print(a+b)
print(a*b)

12
20

In [ ]:
b = int(input("Enter a nuber for conversion of min to hour : "))
hours=b//60
min=b%60
time="{}:{}".format(hours,min)
print(time)

Enter a nuber for conversion of min to hour : 210
3:30

All of the following criteria are fulfilled 

*   A new markdown cell is inserted below the introduction cell
*   It includes the title Objectives in bold font.
*   An unordered list which lists three or more objectives is included.

# Author(s)

Harsh Mewada